.educationComponent {
    width: 100%;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    border-radius: 20px;
    box-shadow: var(--box-shadow-color);
    height: 98%;
    overflow-y: auto;

}

.sectionTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.educationItem {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 12px;
    box-shadow: var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.educationForm,
.educationDisplay {
    width: 100%;
}

.educationDisplay h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.educationDisplay p {
    font-size: 14px;
    color: var(--font-color);
    margin: 12px 0;
}

.inputField {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--font-secondary-color);
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 16px;
}

.actionButton {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.saveButton {
    background-color: #4CAF50;
    color: var(--bg-color);
    margin-right: 10px;
}

.saveButton:hover {
    background-color: #45a049;
}

.deleteButton {
    border: 2px solid #da190b!important;
    color: #da190b!important;
}


.deleteButton:hover {
    background-color: #da190b;
    color: black!important;
}

.editButton {
    background-color: var(--font-color);
    color: var(--bg-color);
    margin-right: 10px;
}

.editButton:hover {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: var(--font-color);
    font-weight: 500;
}

.addButton {
    background-color: var(--font-color);
    color: var(--bg-color);
    padding: 12px 30px;
    margin-top: 20px;
}

.addButton:hover {
    font-weight: 500;
    background-color: var(--font-secondary-color);
    color: var(--font-color);
}