.adminNavbar {
    height: 90Vh;
    width: 80px;
    border: 2px var(--font-color) solid;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: var(--font-color);
    left: 2%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.adminNavbarContent {
    font-size: 36px;
}

.adminNavbarContent1 {
    color: var(--bg-color);
    font-weight: 600;
}

.adminNavbarContent3 {
    height: 70px;
}

.toggleBtn {
    position: fixed;
    top: 5%;
    right: 5%;
}

.adminNavbarContent2 {
    height: 80%;

    /* border: 1px aliceblue solid; */
    .adminNavbarItems {
        margin: 36px auto;
    }
}