* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.ebGaramond {
  font-family: "EB Garamond", serif;
}

:root {
  --light-bg-color: #394A56;
  --light-font-color: #E7E8E7;
  --dark-bg-color: #22303F;
  --dark-font-color: #8FBFDA;
  --animation-duration: 30s;



  --bg-color: #22303F;
  --font-color: #E7E8E7;
  --bg-secondary-color: #AAAAAA;
  --font-secondary-color: #8FBFDA;
  --icon-size : 32px;
}

/* :root {
  --dark-bg-color: #22303F;
  --light-bg-color: #E7E8E7;
  --dark-font-color: #8FBFDA;
  --light-font-color: #E7E8E7;
} */


.nunito {
  font-family: "Nunito Sans", sans-serif;
}

body {
  /* background: var(--dark-bg-color); */
}