* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.ebGaramond {
  font-family: "EB Garamond", serif;
}

:root {
  --light-bg-color: #E7E8E7;
  --dark-bg-color: #22303F;
  --light-font-color: #394A56;
  --dark-font-color: #8FBFDA;
}

.nunito {
  font-family: "Nunito Sans", sans-serif;
}